#game-board {
    display: grid;
    grid-template-columns: repeat(6, 100px); /* 6 columns */
    grid-template-rows: repeat(6, 100px); /* 6 rows */
    gap: 2px;
    margin-bottom: 10px;
    position: relative;
    width: 600px; /* Adjust width as needed */
    height: 600px; /* Adjust height as needed */
    border: 2px solid black; /* Optional: Add border to visualize the board */
}

.cell {
    width: 100px;
    height: 100px;
    background-color: lightgray;
}

.object {
    position: absolute;
    width: 100px; /* Width of the image */
    height: 300px; /* Height of the image */
    background-size: cover;
    background-position: top left;
    cursor: grab;
}

.special-object {
    position: absolute;
    width: 200px;
    height: 100px;
    background-size: cover;
    background-position: top left;
    cursor: grab;
}

.key-object {
    position: absolute;
    width: 200px;
    height: 100px;
    background-size: cover;
    background-position: top left;
    cursor: grab;
}

.rs-object {
    position: absolute;
    width: 100px;
    height: 200px;
    background-size: cover;
    background-position: top left;
    cursor: grab;
}
